html, body {
  height: 100%;
  width: 100%;
}
.lambo {
  width: 500px;
  margin: 20px;
  padding-left: 10px;
  border: 3px solid black;
}
.car-div {
  background-color: red;
  justify-content: center;
  text-align: center;
}